{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    // "plugins": [
    //     [
    //         "css-modules-transform", {               
    //             "generateScopedName": "[local]",
    //             "extractCss": "./lib/data-table.css"
    //         }
    //     ]
    // ]
}